* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;

    background: #6640EE;
    opacity: 0.9;
    filter: drop-shadow(0px 15px 12px rgba(0, 0, 0, 0.25));
}

header img {
    width: 75px;
    margin-left: 225px;
}

header ul {
    display: flex;
    gap: 70px;
    margin-left: 195px;

    list-style: none;


}

header ul a {
    background-image: linear-gradient(90deg, white, white);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: center bottom;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: white;
    text-decoration: none;

    transition: background-size 300ms ease;

}

header ul a:hover {
    background-size: 100% 2px;
}


main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

#start-section {
    width: 80%;

    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    font-weight: 200;
    color: #6640EE;

    border: 1px solid #6640EE;
}

#start-section #names {
    display: flex;
    text-align: left;
    gap: 35px;

    font-size: 130px;
}

#start-section #names #charllys {
    font-weight: 400;
}

#start-section #names #pedro {
    font-weight: 400;
}

#start-section #info {
    margin-top: 5px;
    text-align: left;

    font-size: 24px;
    font-weight: 250;
}


#about-we {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 230px;
}

#about-we #about {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
    color: #6640EE;
}

#about-we #photos {
    display: flex;
    margin-top: 80px;
    gap: 300px;
}

#about-we #photos .photo-charllys {
    text-align: center;
}

#about-we #photos .photo-charllys img {
    border-radius: 10px;
}

#about-we #photos .photo-charllys p {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: #6640EE;
}

#about-we #photos .photo-pedro {
    text-align: center;
}

#about-we #photos .photo-pedro img {
    border-radius: 10px;
}

#about-we #photos .photo-pedro p {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    text-align: center;
    color: #6640EE;
}

#about-we #texts {
    display: flex;
    justify-content: center;
    gap: 111px;
    margin-top: 85px;

    font-family: "Lato", sans-serif;

}
#about-we #texts .who{
    background: #6640EE;
    width: 505px;
    height: 180px;
    border-radius: 0px 50px 50px 80px;
    padding: 15px;


    text-align: center;
    color: white;
}
#about-we #texts .who h1{
    font-size: 50px;
    font-weight: 400;
}
#about-we #texts .who p{
    width: 301px;
    font-size: 30px;
    font-weight: 300;
    margin: auto;
    margin-top: 16px;
}
#about-we #texts .what{
    background: #6640EE;
    width: 505px;
    height: 180px;
    border-radius: 50px 80px 0px 50px;
    padding: 15px;

    text-align: center;
    color: white;
}
#about-we #texts .what h1{
    font-size: 50px;
    font-weight: 400;
}
#about-we #texts .what p{
    width: 301px;
    font-size: 30px;
    font-weight: 300;
    margin: auto;
    margin-top: 16px;
}



#elements{
    background: url("images/Elements/Vector\ Desktop.png");
    background-size: auto;
    background-repeat: no-repeat;
    
    display: flex;
    border: 1px solid black;
}
#elements #card{
    width: 637px;
    text-align: end;
}
#elements #plate{
    width: 603px;
}
#elements #back{
    z-index: -1000;
}










footer {
    background: #6640EE;
    height: 150px;
    text-align: center;
    padding: 30px;
    border: 1px solid black;
}

footer #insta {
    margin-left: 25px;
}

footer a {
    text-decoration: none;
}

footer img {
    margin-top: 10px;
    transition: all 300ms ease;
}

footer img:hover {
    transform: scale(1.05);
}

footer p {
    margin-top: 10px;

    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
}